<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-lg space-y-8 m-auto">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" class="flex flex-col">
      <h2
        id="myUserLabel"
        jhiTranslate="userManagement.home.createOrEditLabel"
        class="text-center text-3xl font-bold tracking-tight text-gray-900 mb-4"
      >
        Create or edit a user
      </h2>

      <jhi-alert-error></jhi-alert-error>

      <mat-form-field appearance="outline">
        <mat-label class="form-label" jhiTranslate="userManagement.email">Email</mat-label>
        <input type="email" matInput name="email" formControlName="email" />

        <mat-error *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
          This field is required.
        </mat-error>

        <mat-error
          *ngIf="editForm.get('email')?.errors?.maxlength"
          jhiTranslate="entity.validation.maxlength"
          [translateValues]="{ max: 100 }"
        >
          This field cannot be longer than 100 characters.
        </mat-error>

        <mat-error
          *ngIf="editForm.get('email')?.errors?.minlength"
          jhiTranslate="entity.validation.minlength"
          [translateValues]="{ min: 5 }"
        >
          This field is required to be at least 5 characters.
        </mat-error>

        <mat-error *ngIf="editForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
          Your email is invalid.
        </mat-error>
      </mat-form-field>

      <div class="flex flex-col sm:flex-row items-center justify-between gap-0 sm:!gap-3 w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label class="form-label" jhiTranslate="userManagement.firstName">First name</mat-label>
          <input matInput type="text" name="firstName" formControlName="firstName" />

          <mat-error
            *ngIf="editForm.get('firstName')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            This field cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label jhiTranslate="userManagement.lastName">Last name</mat-label>
          <input type="text" matInput name="lastName" formControlName="lastName" />

          <mat-error
            *ngIf="editForm.get('lastName')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength"
            [translateValues]="{ max: 50 }"
          >
            This field cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center pb-3">
        <mat-checkbox
          color="primary"
          [attr.disabled]="this.id === undefined ? 'disabled' : null"
          id="activated"
          name="activated"
          formControlName="activated"
        >
          <span jhiTranslate="userManagement.activated">Activated</span>
        </mat-checkbox>
      </div>

      <mat-form-field appearance="outline" *ngIf="languages && languages.length > 0">
        <mat-label jhiTranslate="userManagement.langKey">Language</mat-label>
        <mat-select id="langKey" name="langKey" formControlName="langKey">
          <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="userManagement.profiles">Profiles</mat-label>
        <mat-select multiple name="authority" formControlName="authorities">
          <mat-option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex flex-row items-center justify-end gap-3 w-full">
        <button mat-stroked-button type="button" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button mat-flat-button color="primary" type="submit" [disabled]="editForm.invalid || isSaving">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
