<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8 m-auto">
    <h2
      class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      jhiTranslate="settings.title"
      [translateValues]="{ username: settingsForm.value.login }"
      *ngIf="settingsForm.value.login"
    >
      User settings for [<strong>{{ settingsForm.value.login }}</strong
      >]
    </h2>
    <p class="mb-6 text-center text-sm font-medium text-green-600" *ngIf="success" jhiTranslate="settings.messages.success">
      <strong>Settings saved!</strong>
    </p>
    <form
      name="form"
      role="form"
      (ngSubmit)="save()"
      [formGroup]="settingsForm"
      *ngIf="settingsForm.value.login"
      class="form flex flex-col"
      novalidate
    >
      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="settings.form.firstname">First Name</mat-label>
        <input matInput type="text" id="firstName" name="firstName" formControlName="firstName" data-cy="firstname" />
        <mat-error *ngIf="settingsForm.get('firstName')?.errors?.required" jhiTranslate="settings.messages.validate.firstname.required">
          Your first name is required.
        </mat-error>

        <mat-error *ngIf="settingsForm.get('firstName')?.errors?.minlength" jhiTranslate="settings.messages.validate.firstname.minlength">
          Your first name is required to be at least 1 character
        </mat-error>

        <mat-error *ngIf="settingsForm.get('firstName')?.errors?.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
          Your first name cannot be longer than 50 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="settings.form.lastname">Last Name</mat-label>
        <input matInput type="text" id="lastName" name="lastName" formControlName="lastName" data-cy="lastname" />

        <mat-error *ngIf="settingsForm.get('lastName')?.errors?.required" jhiTranslate="settings.messages.validate.lastname.required">
          Your last name is required.
        </mat-error>

        <mat-error *ngIf="settingsForm.get('lastName')?.errors?.minlength" jhiTranslate="settings.messages.validate.lastname.minlength">
          Your last name is required to be at least 1 character
        </mat-error>

        <mat-error *ngIf="settingsForm.get('lastName')?.errors?.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength">
          Your last name cannot be longer than 50 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.email.label">Email</mat-label>
        <input matInput type="email" id="email" name="email" formControlName="email" data-cy="email" />

        <mat-error *ngIf="settingsForm.get('email')?.errors?.required" jhiTranslate="global.messages.validate.email.required">
          Your email is required.
        </mat-error>

        <mat-error *ngIf="settingsForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
          Your email is invalid.
        </mat-error>

        <mat-error *ngIf="settingsForm.get('email')?.errors?.minlength" jhiTranslate="global.messages.validate.email.minlength">
          Your email is required to be at least 5 characters.
        </mat-error>

        <mat-error *ngIf="settingsForm.get('email')?.errors?.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
          Your email cannot be longer than 50 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="languages && languages.length > 0">
        <mat-label jhiTranslate="settings.form.language">Language</mat-label>
        <mat-select id="langKey" name="langKey" formControlName="langKey" data-cy="langKey">
          <mat-option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="settingsForm.invalid"
        jhiTranslate="settings.form.button"
        data-cy="submit"
      >
        Save
      </button>
    </form>
  </div>
</div>
