<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8 m-auto" *ngIf="account$ | async as account">
    <h2
      class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      jhiTranslate="password.title"
      [translateValues]="{ username: account.login }"
    >
      Password for [<strong>{{ account.login }}</strong
      >]
    </h2>
    <p class="mb-6 text-center text-sm font-medium text-green-600" *ngIf="success" jhiTranslate="password.messages.success">
      <strong>Password changed!</strong>
    </p>

    <p class="mb-6 text-center text-sm font-medium text-red-600" *ngIf="error" jhiTranslate="password.messages.error">
      <strong>An error has occurred!</strong> The password could not be changed.
    </p>

    <p class="mb-6 text-center text-sm font-medium text-red-600" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
      The password and its confirmation do not match!
    </p>

    <form class="form flex flex-col" name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.currentpassword.label">Current password</mat-label>
        <input
          matInput
          type="password"
          id="currentPassword"
          name="currentPassword"
          formControlName="currentPassword"
          data-cy="currentPassword"
        />

        <mat-error
          *ngIf="passwordForm.get('currentPassword')?.errors?.required"
          jhiTranslate="global.messages.validate.newpassword.required"
        >
          Your password is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.newpassword.label">New password</mat-label>
        <input matInput type="password" id="newPassword" name="newPassword" formControlName="newPassword" data-cy="newPassword" />

        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.required" jhiTranslate="global.messages.validate.newpassword.required">
          Your password is required.
        </mat-error>

        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
          Your password is required to be at least 4 characters.
        </mat-error>

        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
          Your password cannot be longer than 50 characters.
        </mat-error>
      </mat-form-field>

      <mat-password-strength class="pb-4" [password]="passwordForm.get('newPassword')!.value"></mat-password-strength>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.confirmpassword.label">New password confirmation</mat-label>
        <input
          matInput
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          formControlName="confirmPassword"
          data-cy="confirmPassword"
        />

        <mat-error
          *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
          jhiTranslate="global.messages.validate.confirmpassword.required"
        >
          Your confirmation password is required.
        </mat-error>

        <mat-error
          *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
          jhiTranslate="global.messages.validate.confirmpassword.minlength"
        >
          Your confirmation password is required to be at least 4 characters.
        </mat-error>

        <mat-error
          *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
          jhiTranslate="global.messages.validate.confirmpassword.maxlength"
        >
          Your confirmation password cannot be longer than 50 characters.
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="passwordForm.invalid"
        class="btn btn-primary"
        jhiTranslate="password.form.button"
        data-cy="submit"
      >
        Save
      </button>
    </form>
  </div>
</div>
