.view-fill {
  min-height: calc(100vh - 3.84rem);
}

@media (max-width: 30em) {

  tr th:nth-child(n +3), tr td:nth-child(n +3) {
    display: none;
  }
}

@media (max-width: 50em) {

  tr th:nth-child(n +4), tr td:nth-child(n +4) {
    display: none;
  }
}

@media (max-width: 60em) {

  tr th:nth-child(n +5), tr td:nth-child(n +5) {
    display: none;
  }
}

@media (max-width: 70em) {

  tr th:nth-child(n +6), tr td:nth-child(n +6) {
    display: none;
  }
}

@media (max-width: 80em) {

  tr th:nth-child(n +7), tr td:nth-child(n +7) {
    display: none;
  }
}
