<mat-drawer-container class="view-fill bg-white">
  <div class="md:w-3/4 p-2 md:p-0 ml-auto mr-auto mt-8">
    <div>
      <h2 class="flex items-center justify-between pb-8">
        <span
          id="book-page-heading"
          jhiTranslate="book.home.title"
          data-cy="elementManagementPageHeading"
          class="text-3xl font-bold tracking-tight text-gray-900"
          >Books</span
        >

        <button [routerLink]="['./new']" color="primary" mat-flat-button>
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="book.home.create">Add new book</span>
        </button>
      </h2>

      <mat-form-field appearance="standard" class="w-full">
        <mat-label>Filter by title</mat-label>
        <input #input (keyup)="onFilterChanged(this.search)" [(ngModel)]="search" matInput type="search" />
        <button (click)="search = ''; reset()" *ngIf="search" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <table
        (matSortChange)="applySort()"
        [dataSource]="data"
        [matSortDirection]="this.direction"
        class="w-full"
        mat-table
        matSort
        matSortActive="{{ predicate }}"
      >
        <ng-container matColumnDef="book_authors_name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Authors</th>
          <td *matCellDef="let element" mat-cell>
            <p *ngFor="let author of element.book.authors" class="block cursor-text m-2" (click)="$event.stopPropagation()">
              {{ author.name }}
            </p>
          </td>
        </ng-container>

        <ng-container matColumnDef="cover">
          <th *matHeaderCellDef mat-header-cell>Cover</th>
          <td *matCellDef="let element" mat-cell>
            <img
              *ngIf="element.book.cover"
              [src]="this.sanitizer.bypassSecurityTrustUrl('data:image/png;base64,' + element.book.cover)"
              alt="Cover"
              class="h-20 m-1 transition ease-in-out duration-500 delay-200 hover:scale-[2.5] cursor-auto"
              (click)="$event.stopPropagation()"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="format">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Format</th>
          <td *matCellDef="let element" mat-cell>
            <mat-chip-list aria-label="format" class="block cursor-pointer" (click)="$event.stopPropagation()">
              <mat-chip>{{ element.format.capitalize() }}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
          <td *matCellDef="let element" mat-cell>
            <mat-chip-list aria-label="status" class="block cursor-pointer" (click)="$event.stopPropagation()">
              <mat-chip>{{ element.status.capitalize() }}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell>ID</th>
          <td *matCellDef="let element" mat-cell>{{ element.book.id }}</td>
        </ng-container>

        <ng-container matColumnDef="book_isbn">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ISBN</th>
          <td *matCellDef="let element" mat-cell>
            <p class="block cursor-text m-2" (click)="$event.stopPropagation()">{{ element.book.isbn }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="book_title">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
          <td *matCellDef="let element" mat-cell>
            <p class="block cursor-text m-2" (click)="$event.stopPropagation()">{{ element.book.title }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="publisher">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Publisher</th>
          <td *matCellDef="let element" mat-cell>{{ element.book.publisher }}</td>
        </ng-container>

        <ng-container matColumnDef="book_publicationYear">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Year</th>
          <td *matCellDef="let element" mat-cell>
            <p class="block cursor-text m-2" (click)="$event.stopPropagation()">{{ element.book.publicationYear }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="book_pages">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Pages</th>
          <td *matCellDef="let element" mat-cell>
            <p class="block cursor-text m-2" (click)="$event.stopPropagation()">{{ element.book.pages }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th *matHeaderCellDef mat-header-cell>Subject</th>
          <td *matCellDef="let element" mat-cell>{{ element.book.subject }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td (click)="$event.stopPropagation()" *matCellDef="let element" mat-cell>
            <button [matMenuTriggerFor]="menu" aria-label="Action menu" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button [routerLink]="['./', element.id, 'view']" mat-menu-item type="submit">
                <mat-icon>visibility</mat-icon>
                <span jhiTranslate="entity.action.view">View</span>
              </button>
              <button [routerLink]="['./', element.id, 'edit']" mat-menu-item queryParamsHandling="merge" type="submit">
                <mat-icon>edit</mat-icon>
                <span jhiTranslate="entity.action.edit">Edit</span>
              </button>
              <button mat-menu-item type="button">
                <mat-icon>person_remove</mat-icon>
                <span jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr (click)="detail(row)" *matRowDef="let row; columns: displayedColumns" class="hover:bg-slate-100 cursor-pointer" mat-row></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator (page)="getData($event)" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of elements"></mat-paginator>
    </div>
  </div>
  <mat-drawer #drawer class="h-full" mode="over" position="end">
    <fa-icon (click)="closeDrawer()" class="absolute top-0 right-10 text-2xl cursor-pointer text-slate-100" icon="times"></fa-icon>
    <book-detail [book]="selectedBook" class=""></book-detail>
  </mat-drawer>
</mat-drawer-container>
