<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8 m-auto">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" />
      <h2 data-cy="loginTitle" class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900" jhiTranslate="register.title">
        Registration
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a class="font-medium text-primary" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">Sign in</a>
      </p>
    </div>

    <p class="mb-6 text-center text-sm font-medium text-red-600" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
      The password and its confirmation do not match!
    </p>

    <p
      class="mb-6 text-center text-sm font-medium text-red-600"
      *ngIf="errorEmailExists"
      jhiTranslate="register.messages.error.emailexists"
    >
      <strong>Email is already in use!</strong> Please choose another one.
    </p>

    <p class="mb-6 text-center text-sm font-medium text-red-600" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
      <strong>Login name already registered!</strong> Please choose another one.
    </p>

    <p class="mb-6 text-center text-sm font-medium text-red-600" *ngIf="error" jhiTranslate="register.messages.error.fail">
      <strong>Registration failed!</strong> Please try again later.
    </p>

    <p class="mb-6 text-center text-sm font-medium text-red-600" *ngIf="success" jhiTranslate="register.messages.success">
      <strong>Registration saved!</strong> Please check your email for confirmation.
    </p>

    <form class="form flex flex-col" name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.email.label">Email</mat-label>
        <input matInput type="text" id="email" name="email" formControlName="email" data-cy="email" />
        <mat-error *ngIf="registerForm.get('email')?.errors?.required" jhiTranslate="global.messages.validate.email.required">
          Your email is required.
        </mat-error>

        <mat-error *ngIf="registerForm.get('email')?.errors?.minlength" jhiTranslate="global.messages.validate.email.minlength">
          Your email is required to be at least 5 characters.
        </mat-error>

        <mat-error *ngIf="registerForm.get('email')?.errors?.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
          Your email cannot be longer than 50 characters.
        </mat-error>

        <mat-error *ngIf="registerForm.get('email')?.errors?.email" jhiTranslate="global.messages.validate.email.invalid">
          Your email is invalid.
        </mat-error>
      </mat-form-field>

      <div class="flex flex-col sm:flex-row items-center justify-between gap-0 sm:!gap-3 w-full">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label jhiTranslate="global.form.firstname.label">First name</mat-label>
          <input matInput type="text" id="firstName" name="firstName" formControlName="firstName" data-cy="name" />
          <mat-error *ngIf="registerForm.get('firstName')?.errors?.required" jhiTranslate="global.messages.validate.firstname.required">
            Your name is required.
          </mat-error>

          <mat-error *ngIf="registerForm.get('firstName')?.errors?.minlength" jhiTranslate="global.messages.validate.firstname.minlength">
            Your name is required to be at least 1 character.
          </mat-error>

          <mat-error *ngIf="registerForm.get('firstName')?.errors?.maxlength" jhiTranslate="global.messages.validate.firstname.maxlength">
            Your name cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label jhiTranslate="global.form.lastname.label">Last name</mat-label>
          <input matInput type="text" id="lastName" name="lastName" formControlName="lastName" data-cy="name" />
          <mat-error *ngIf="registerForm.get('lastName')?.errors?.required" jhiTranslate="global.messages.validate.lastname.required">
            Your name is required.
          </mat-error>

          <mat-error *ngIf="registerForm.get('lastName')?.errors?.minlength" jhiTranslate="global.messages.validate.lastname.minlength">
            Your name is required to be at least 1 character.
          </mat-error>

          <mat-error *ngIf="registerForm.get('lastName')?.errors?.maxlength" jhiTranslate="global.messages.validate.lastname.maxlength">
            Your name cannot be longer than 50 characters.
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.newpassword.label">Password</mat-label>
        <input matInput type="password" id="password" name="password" formControlName="password" data-cy="firstPassword" />
        <mat-error *ngIf="registerForm.get('password')?.errors?.required" jhiTranslate="global.messages.validate.newpassword.required">
          Your password is required.
        </mat-error>

        <mat-error *ngIf="registerForm.get('password')?.errors?.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
          Your password is required to be at least 4 characters.
        </mat-error>

        <mat-error *ngIf="registerForm.get('password')?.errors?.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
          Your password cannot be longer than 50 characters.
        </mat-error>
      </mat-form-field>
      <mat-password-strength class="pb-4" [password]="registerForm.get('password')!.value"></mat-password-strength>

      <mat-form-field appearance="outline">
        <mat-label jhiTranslate="global.form.confirmpassword.label">Password confirmation</mat-label>
        <input
          matInput
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          formControlName="confirmPassword"
          data-cy="secondPassword"
        />
        <mat-error
          *ngIf="registerForm.get('confirmPassword')?.errors?.required"
          jhiTranslate="global.messages.validate.newpassword.required"
        >
          Your password is required.
        </mat-error>

        <mat-error
          *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
          jhiTranslate="global.messages.validate.newpassword.minlength"
        >
          Your username is required to be at least 4 characters.
        </mat-error>

        <mat-error
          *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
          jhiTranslate="global.messages.validate.newpassword.maxlength"
        >
          Your username cannot be longer than 50 characters.
        </mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
        class="btn btn-primary"
        jhiTranslate="register.form.button"
        data-cy="submit"
      >
        Register
      </button>
    </form>
  </div>
</div>
