<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8 m-auto">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" />
      <h2 jhiTranslate="login.title" data-cy="loginTitle" class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
        Sign in to your account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <a class="font-medium text-primary" routerLink="/account/register" jhiTranslate="global.messages.info.register.link"
          >Register a new account</a
        >
      </p>
    </div>
    <p
      class="mb-6 text-center text-sm font-medium text-red-600"
      *ngIf="authenticationError"
      jhiTranslate="login.messages.error.authentication"
      data-cy="loginError"
    >
      Failed to sign in! Please check your credentials and try again.
    </p>
    <form class="form flex flex-col" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          name="username"
          id="username"
          placeholder="{{ 'global.form.username.placeholder' | translate }}"
          formControlName="username"
          #username
          data-cy="username"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          id="password"
          placeholder="{{ 'login.form.password.placeholder' | translate }}"
          formControlName="password"
          data-cy="password"
        />
      </mat-form-field>

      <div class="flex items-center justify-between pb-3">
        <div class="flex items-center">
          <mat-checkbox formControlName="rememberMe" color="primary"
            ><span jhiTranslate="login.form.rememberme">Remember me</span>
          </mat-checkbox>
        </div>
        <div class="text-sm">
          <a
            routerLink="/account/reset/request"
            jhiTranslate="login.password.forgot"
            data-cy="forgetYourPasswordSelector"
            class="font-medium text-primary"
            >Forgot your password?</a
          >
        </div>
      </div>

      <button mat-flat-button color="primary" type="submit" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>
    </form>
  </div>
</div>
