<h2 mat-dialog-title jhiTranslate="entity.delete.title">Confirm delete operation</h2>
<mat-dialog-content class="mat-typography">
  <jhi-alert-error></jhi-alert-error>
  <p jhiTranslate="userManagement.delete.question" [translateValues]="{ login: user.login }">
    Are you sure you want to delete user <span class="font-bold">"{{ user.login }}"</span>?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close><span jhiTranslate="entity.action.cancel">Cancel</span></button>
  <button mat-flat-button color="primary" [mat-dialog-close]="'deleted'" cdkFocusInitial>
    <span jhiTranslate="entity.action.delete">Delete</span>
  </button>
</mat-dialog-actions>
