<div class="d-flex justify-content-center mt-10">
  <div class="col-8">
    <div *ngIf="user">
      <button type="submit" routerLink="../../" class="text-gray-500 hover:text-gray-700 font-semibold">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
      <div class="flex items-center justify-between">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 !mt-2">{{ user.lastName }}, {{ user.firstName }}</h2>
        <div>
          <button mat-flat-button color="primary" [matMenuTriggerFor]="menu" aria-label="Open context actions">
            Actions
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item type="submit" [routerLink]="['../../', user.login, 'edit']" queryParamsHandling="merge">
              <mat-icon>edit</mat-icon>
              <span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button
              mat-menu-item
              type="button"
              (click)="deleteUser(user)"
              [disabled]="!currentAccount || currentAccount.login === user.login"
            >
              <mat-icon>person_remove</mat-icon>
              <span jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-y-5 rounded-md border border-gray-100 mt-10 p-6 font-normal">
        <div>
          <p jhiTranslate="userManagement.status" class="text-gray-500">Status</p>
          <p>
            <span *ngIf="user.activated" class="badge bg-success" jhiTranslate="userManagement.activated">Activated</span>
            <span *ngIf="!user.activated" class="badge bg-danger" jhiTranslate="userManagement.deactivated">Deactivated</span>
          </p>
        </div>
        <div>
          <p jhiTranslate="userManagement.name" class="text-gray-500 mb-1">Name</p>
          <p>{{ user.lastName }}, {{ user.firstName }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.email" class="text-gray-500 mb-1">Email</p>
          <p>{{ user.email }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.langKey" class="text-gray-500 mb-1">Language</p>
          <p>{{ user.langKey }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.createdBy" class="text-gray-500 mb-1">Created by</p>
          <p>{{ user.createdBy }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.createdDate" class="text-gray-500 mb-1">Created Date</p>
          <p>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.lastModifiedBy" class="text-gray-500 mb-1">Modified by</p>
          <p>{{ user.lastModifiedBy }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.lastModifiedDate" class="text-gray-500 mb-1">Modified Date</p>
          <p>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</p>
        </div>
        <div>
          <p jhiTranslate="userManagement.profiles" class="text-gray-500 mb-1">Profiles</p>
          <mat-chip-list aria-label="Authorities">
            <mat-chip *ngFor="let authority of user.authorities">{{ authority }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</div>
