name: Backend tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
    paths:
      - '**.java'
  pull_request:
    branches: [ "main" ]
    paths:
      - '**.java'
      - 'src/main/java/**'
      - 'src/test/java/**'
      - 'src/test/resources/**'
      - 'src/main/resources/**'
      - 'build.gradle'
      - 'settings.gradle'
      - 'gradle/**'

      # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "test"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
          cache: 'gradle'

      # Runs a single command using the runners shell
      - name: Run Gradle tests
        run: ./gradlew test integrationTest jacocoTestReport
